<div class="body-todo">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="th-todo" scope="col">No. </th>
          <th class="th-todo" scope="col">Your Name</th>
          <th class="th-todo" scope="col">Date</th>
          <th class="th-todo" scope="col">Activity</th>
          <th class="th-todo" scope="col">Description</th>
          <th class="th-todo" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataTodo; index as i">
          <td class="td-todo" scope="col">{{i + 1}}</td>
          <td class="td-todo" scope="col">{{item.name}}</td>
          <td class="td-todo" scope="col">{{item.date}}</td>
          <td class="td-todo" scope="col">{{item.activity}}</td>
          <td class="td-todo" scope="col">{{item.description}}</td>
          <td>
            <div class="d-flex justify-content-evenly">
              <div>
                <span class="material-icons" style="font-size: 120%; cursor: pointer;">
                  settings
                </span>
              </div>
              <div>
                <span class="material-icons" style="font-size: 120%; cursor: pointer;">
                  delete
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngFor="let item of dataTodo; index as i">
          <td class="td-todo" scope="col"></td>
          <td class="td-todo" scope="col"><input type="text" placeholder="name" [(ngModel)]="name" (keyup.enter)="addTodo()"></td>
          <td class="td-todo" scope="col"><input type="date" [(ngModel)]="date" (keyup.enter)="addTodo()"></td>
          <td class="td-todo" scope="col"><input type="text" placeholder="activity" [(ngModel)]="activity" (keyup.enter)="addTodo()"></td>
          <td class="td-todo" scope="col"><input type="text" placeholder="description" [(ngModel)]="description" (keyup.enter)="addTodo()"></td>
          <td>
            <div class="d-flex justify-content-evenly">
              <div>
                <span class="material-icons" style="font-size: 150%; cursor: pointer;" (click)="addTodo()">
                  add
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
