.btn-group{
    cursor: pointer;
}

.navbar{
    background-color: rgb(103, 103, 243) !important;
}

.navbar-brand{
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff !important;
    cursor: pointer;
}

.dropdown-toggle{
    color: #ffffff;
}

.dropdown-item{
    font-size: 80%;
}