<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand" routerLink="/">WEBMI</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="nav-link" routerLink="/webmi/home">Home</div>
        </li>
        <li class="nav-item">
          <div class="nav-link" routerLink="/webmi/todo">Todo</div>
        </li>
      </ul>
      <form class="d-flex">
        <div class="btn-group">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <span class="material-icons" style="font-size: large;">
              account_circle
            </span>
          </div>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
              <button routerLink="/" class="dropdown-item" type="button">
                <span class="material-icons" style="font-size: small; margin-right: 5px;">login</span>
                Login
              </button>
            </li>
            <li>
              <button routerLink="/user/user-register" class="dropdown-item" type="button">
                <span class="material-icons" style="font-size: small; margin-right: 5px;">how_to_reg</span>
                Register
              </button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
